<a href="https://colab.research.google.com/github/martins-samuel/data_sciencie_colab/blob/main/aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Medidas de Tendência Central



1.   Média
2.   Mediana
3.   Moda

##Quais ferramentas posso utilizar no meus experimentos para trabalhar com estatística?


*   NumPy:https://numpy.org/
*   Pandas (abstração do NumPy):https://pandas.pydata.org/
*   SciPy:https://scipy.org/

Pra pesquisar novas bibliotecas utilze o site https://pypi.org/

In [ ]:
# instalção do pandas
'''
Vamos instalar o pandas, o pandas é uma biblioteca
python para eda (Análise Exploratória de Dados)
'''

'\nVamos instalar o pandas, o pandas é uma biblioteca \npython para eda (Análise Exploratória de Dados)\n'

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
# dados amostra (estatística)
''' um pesquisador interresado a avalir o nível de ruído em um determinado cruzamento movimento da cidade, mediu o nível de ruído (em decibeis) durante 18 dias
85 - 92 - 95 - 98 - 101 - 103 - 105 - 107 - 110 - 112 - 114 - 117 - 120 - 120 - 122 - 125 -127
'''

In [ ]:
# considerando a aula do Alex
# crie um formula é variáveis que mostre o valor da média aritmética simples
'''tudo_somado = 85 + 92 + 95 + 98 + 99 + 101 + 103 + 105 + 107 + 110 + 112 + 114 + 117 + 120 + 120 + 122 + 125 + 127
media = tudo_somado/18
print(f'A média em de ruído foi : {media:.2f}')  '''
valores = [85, 92, 95,98,99, 101, 103, 105, 107, 110,112, 114,117, 120,120, 122, 125, 127]
media = sum(valores)/len(valores)
print(f'A média será {media:.2f}')

A média será 108.44

In [ ]:
# [ ] - Lista
lista_ruidos = [85, 92, 95,98,99, 101, 103, 105, 107, 110,112, 114,117, 120,120, 122, 125, 127]
df = pd.DataFrame (lista_ruidos,columns =['Nivel_Ruido'])
df

    Nivel_Ruido
0            85
1            92
2            95
3            98
4            99
5           101
6           103
7           105
8           107
9           110
10          112
11          114
12          117
13          120
14          120
15          122
16          125
17          127

In [ ]:
# mostrando a média de  ruídos
df.mean()

Nivel_Ruido    108.444444
dtype: float64

##mediana


*   Podemos observar que os dados já encontram -se em ordem crescente
*   Como o tamanho da amostra é par (n=18), a mediana é calculada fazendo =se nas posições n/2 = 9° elementos e n+2/2 = 18+2/2 = 10 °

9 ° elemento


10 ° elemento

X = 9° + 10 °

In [ ]:
(107+110)/2

108.5

In [ ]:
df.median()

Nivel_Ruido    108.5
dtype: float64

In [ ]:
df.iloc[9]

Nivel_Ruido    110
Name: 9, dtype: int64

In [ ]:
 df.iloc[8]

Nivel_Ruido    107
Name: 8, dtype: int64

In [ ]:
soma = df.iloc[8] + df.iloc[9]
soma

Nivel_Ruido    217
dtype: int64

In [ ]:
media = soma/2
media

Nivel_Ruido    108.5
dtype: float64

In [ ]:
#lista de números que representam um exemplo de moda
lista_ruidos = [1,1,2,3,4]
Mo =1

In [ ]:
lista_de_ruidos_dois = [1,1,2,2,4,6]
Mo = [ 1,2]
Mo

[1, 2]

In [ ]:
lista_ruidos_tres = [1,1,1,2,2,5]
Mo = 1
Mo

1